.send {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 6px 6px 6px 13px;
  border: 1px solid map.get($colors, 'color-border-black');
  border-radius: 10px;

  @include mqw-down(xmd) {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 10px;
  }

  .text {
    @include fz(16, 16, 700);

    display: flex;
    gap: 5px;
    align-items: center;

    .icon {
      svg {
        font-size: 33px;
      }

      @include mqw-down(xmd) {
        rotate: 90deg;

        svg {
          font-size: 32px;
        }
      }
    }
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    @include mqw-down(xmd) {
      width: 100%;
    }
  }

  &[data-disabled='true'] {
    cursor: not-allowed;
    border: 1px solid map.get($colors, 'color-border-light');

    .text {
      color: map.get($colors, 'color-light-text');
    }
  }
}
