.content {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 30px;
  padding: 30px;
  border: 1px solid map.get($colors, 'color-border-light');
  border-radius: 10px;

  @include mqw-down {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px 25px 25px;
  }
}

.head {
  @include fz(14, 24);

  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mqw-down {
    gap: 15px;
  }

  .title {
    @include fz(22, 22, 700);

    @include mqw-down {
      @include fz(20, 20);

      text-align: center;
    }
  }
}

.button {
  height: 48px;

  @include mqw-down {
    @include fz(18);
  }
}
