.article {
  @include fz(18, 32, 400);

  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mqw-down {
    @include fz(16, 28);
  }

  h2 {
    @include fz(26, 38, 700);

    @include mqw-down {
      @include fz(20, 32);
    }
  }

  h3 {
    @include fz(20, 30, 700);
    @include mqw-down {
      @include fz(16, 28);
    }
  }

  a {
    @include hover-opacity;

    text-decoration: underline;
  }

  ul,
  ol {
    padding: 20px 20px 20px 29px;
    background-color: map.get($colors, 'color-light-gray');
    border-radius: 8px;
  }

  ol {
    list-style-position: inside;
  }

  ul {
    list-style: '・';
    list-style-position: inside;
  }
}
