.kv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - map.get($map: $header-h, $key: md) - map.get($map: $kv-margin, $key: md));

  @include mqw-down {
    height: calc(100vh - map.get($map: $header-h, $key: sm) - map.get($map: $kv-margin, $key: sm));

    @include orientation {
      height: calc(100vh - map.get($map: $header-h, $key: sm));
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 33px 0;
  margin-top: 84px;

  @include mqw-down {
    gap: 25px 0;
    margin-top: 114px;
  }
}

.employ {
  width: 358px;
  height: 28px;

  @include mqw-down {
    width: 264px;
    height: 26px;
  }
}

.name {
  position: relative;
  width: 232.01px;
  height: 76.36px;
  margin-right: 48px;
  margin-left: auto;

  @include mqw-down {
    width: 184.35px;
    height: 60.67px;
    margin-right: 38px;
  }

  .cursor {
    position: absolute;
    right: -14px;
    bottom: 1px;
    width: 4px;
    height: 32px;
    background-color: map.get($colors, 'color-black');
    animation: blink 1s step-end infinite;

    @include mqw-down {
      right: -13px;
      bottom: 0;
      width: 3px;
      height: 28px;
    }

    // 点滅アニメーション

    @keyframes blink {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}
