.kv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - map.get($map: $header-h, $key: md) - map.get($map: $kv-margin, $key: md));
}

.title {
  display: flex;
  flex-direction: column;
  gap: 34px 0;
  margin-top: 52px;
}

.employ {
  width: 358px;
  height: 28px;
}

.name {
  width: 241px;
  height: 74px;
  margin-right: 38px;
  margin-left: auto;
}
