.button {
  @include fz(20, 28, 700);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: map.get($colors, 'color-white');
  user-select: none;
  background-color: map.get($colors, 'color-black');
  border: 1px solid map.get($colors, 'color-black');
  border-radius: 100px;
  transition: color $com-ms $com-es, background-color $com-ms $com-es, border-color $com-ms $com-es;

  @include canhover {
    &:hover {
      color: map.get($colors, 'color-black');
      background-color: map.get($colors, 'color-white');
      border-color: map.get($colors, 'color-black');
    }
  }

  @include mqw-down {
    padding-bottom: 4px;
  }
}
