.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 80px 20px 18px;
  border: 1px solid map.get($map: $colors, $key: 'color-border-black');
  border-radius: 40px;
  box-shadow: 0 0 20px rgb(0 0 0 / 6%);

  @include mqw-down {
    gap: 60px;
    padding: 60px 10px 10px;
    border-radius: 30px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 80px;

  @include mqw-down {
    padding: 0 10px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 61px;
  align-items: center;

  @include mqw-down {
    gap: 40px;
  }

  p {
    @include fz(18, 34);

    @include mqw-down {
      @include fz(16, 34);
    }
  }
}

.title {
  @include letter-spacing(40);

  font-feature-settings: 'palt';

  @include mqw-up {
    padding-left: 23px;
  }
}

.sns-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 173px);
  grid-auto-rows: auto;
  gap: 15px;

  @include mqw-down {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
