.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 25px 28px 29px;
  background-color: #fff;
  border: 1px solid map.get($colors, 'color-border-black');
  border-radius: 20px;
  box-shadow: 0 6px 0 #000;

  @include mqw-down {
    gap: 10px;
    padding: 20px 25px 29px 29px;
    border-radius: 30px;
    box-shadow: 0 4px 0 #000;
  }
}

.image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;

  @include mqw-up {
    height: 188px;
  }

  .static {
    margin-right: 4px;
  }

  .dynamic {
    margin-left: 20px;

    @include mqw-down {
      width: 220px;
      margin-left: -4px;
    }
  }

  .renewal {
    margin-left: 16px;

    @include mqw-down {
      width: 220px;
      margin-left: -4px;
    }
  }

  .tool {
    margin-left: 10px;

    @include mqw-up {
      margin-top: 24px;
    }

    @include mqw-down {
      width: 240px;
      margin-left: -4px;
    }
  }

  .operation {
    margin-right: 4px;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include mqw-down {
    gap: 11px;
  }

  .title {
    @include fz(22, 28, 700);

    @include mqw-down {
      @include fz(20, 28, 700);
    }
  }

  .text {
    @include fz(14, 24);
  }
}
