.section {
  display: flex;
  flex-direction: column;
  gap: 58px;
  padding: 0 50px;
  margin-top: 46px;

  @include mqw-down {
    gap: 45px;
    padding: 0 10px;
    margin-top: 130px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 29px;

  @include mqw-down {
    gap: 25px;
  }
}
