.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.wrap {
  position: relative;
  width: 100%;

  @include mqw-down {
    padding-right: map.get($map: $space, $key: sm);
    padding-left: map.get($map: $space, $key: sm);

    @include is-open-menu {
      background-color: map.get($colors, 'color-white');
    }
  }
  @include mqw-down(xs) {
    padding-right: map.get($map: $space, $key: xs);
    padding-left: map.get($map: $space, $key: xs);
  }
}

.inner {
  display: flex;
  align-items: center;
  height: map.get($map: $header-h, $key: md);
  @include mqw-down {
    height: map.get($map: $header-h, $key: sm);
  }
}

.logo {
  width: 120px;
  margin-right: auto;

  @include mqw-down {
    width: 100px;
    height: 16.59px;
  }
}

.nav-wrap {
  display: flex;
  gap: 30px;
  align-items: center;

  @include mqw-down {
    gap: 15px;
  }
}
