.inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;

  @include mqw-down {
    gap: 20px;
    margin-top: 17px;
  }
}

.head {
  @include fz(14, 14);

  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  color: map.get($colors, 'color-dark-text');

  @include mqw-down {
    gap: 10px;
  }
}
