.inquiry {
  margin: 100px auto 0;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: map.get($main-w, md);
  margin: 0 auto;

  @include mqw-up(xlg) {
    max-width: map.get($main-w, xlg);
  }

  @include mqw-down {
    gap: 37px;
    padding-right: map.get($map: $space, $key: sm);
    padding-left: map.get($map: $space, $key: sm);
  }
  @include mqw-down(xs) {
    padding-right: map.get($map: $space, $key: xs);
    padding-left: map.get($map: $space, $key: xs);
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 26px;

  @include mqw-down {
    gap: 37px;
    align-items: center;
  }

  .title {
    @include fz(30, 30, 700);

    span {
      background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text {
    @include fz(14, 28);

    @include mqw-down {
      @include fz(14, 24);
    }

    span {
      text-decoration: underline;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include mqw-up {
    padding: 30px 40px 20px;
    background-color: map.get($colors, 'color-white');
    border-radius: 20px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mqw-down {
    gap: 13px;
  }

  .input {
    @include mqw-up {
      width: 350px;
    }
  }

  .select {
    @include mqw-up {
      width: 200px;
    }
  }
}

.footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-top: 19px;
  border-top: 2px dashed map.get($colors, 'color-border-light');

  @include mqw-up(xmd) {
    min-height: 50px;
  }

  @include mqw-down(xmd) {
    flex-direction: column;
  }
}
