.inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  margin-top: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  width: 260px;
  height: 52px;
}
