.inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 60px;

  @include mqw-up {
    align-items: flex-end;
  }

  @include mqw-down {
    margin-top: 50px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  width: 260px;
  height: 52px;
}
