.link {
  @include fz(16, 16, 700);
  @include hover-opacity;

  display: flex;
  align-items: center;

  @include mqw-down {
    @include fz(18);

    gap: 6px;
    width: 100%;
  }
}

.icon {
  svg {
    font-size: 18px;
  }
}
